
.App {
  background-image: url(/public/assets/starwars.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 25% 10% 55%;
}
.headerText{
  margin: 2em;
  color: rgb(131, 30, 50);
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Poller One', cursive;
  text-align: center;
  text-shadow: 0 -.1em 15px rgb(131, 30, 50);
  top: 5.5em;
}
.main-nav{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.menu-btns{
  padding: .5em 1em;
  background-color: rgb(43, 43, 43);
  box-shadow: 1px 1px 2px rgb(122, 44, 44);
  color: rgb(202, 209, 209);
  /* border-style: none; */
  border: 1px solid rgba(122, 44, 44, 0);
  margin: .2em;
  border-radius: .5em;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: .070em;
  font-weight: 600;
  transition: all .3s;
}
.menu-btns:hover{
  border: 2px solid rgb(118, 150, 137);
}
.subcatagory-container{
  overflow: scroll;

}
.submenu-btns{
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5em auto;
  padding: .5em 1em;
  background-color: rgb(43, 43, 43);
  box-shadow: 1px 1px 2px rgb(122, 44, 44);
  color: rgb(202, 209, 209);
  border: 1px solid rgba(122, 44, 44, 0);
  border-radius: .5em;
  width: 50%;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: .070em;
  font-weight: 600;
  transition: all .3s;


}
